*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: rgb(209, 66, 66);
  transition: background-color 1s;
}


.resting{
  background-color: rgb(60, 120, 168);
}
.longResting{
  background-color: rgb(110, 41, 167);
}
.container{
  max-width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
header .title{
  font-weight: bold;
  font-family: 'Lobster', 'cursive';
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  
}
header .configIco{
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  gap: 5px;
  padding: 7px 7px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);;
}

.pomodoroButtos{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 500px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.pomodoroButtos button{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-family: 'Lobster', 'cursive';
  border: none;
  font-weight: bold;
  

}
.pomodoroButtos button.selected{
  background-color: rgba(0, 0, 0, 0.15);
}

.timer{
  margin: 0 auto;
  margin-top: 40px;
  height: 300px;
  max-width: 500px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  

}

.timer h1{
  font-weight: bold;
  font-size: 80px;
  color: white;
  position: absolute;
  top: 40px;
}
.timer .icons{
  margin-top: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 100px;
 

  
}
.timer .icons .playOrPauseIco{
  justify-self: center;
  position: fixed;
  
  
}
.timer .icons .skipIco{
  justify-self: end;
  margin-left: 100px;
}
.informations{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 500px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: bold;
  font-family: sans-serif;
 

}